## Desafío 1: Lectura de archivos 
Importe pandas y numpy siguiendo las convenciones. 
* Lea la base de datos worldcup2014.csv y asígnela a un objeto df .
* Solicite las primeras 5 observaciones con head

In [306]:
import pandas as pd
import numpy as np

df=pd.read_csv('worldcup2014.csv')

In [307]:
df.head(5)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

## Desafío 2: Estime las frecuencias de continent 
Utilice value_counts . Responda lo siguiente:
* ¿Cuál es el continente con una mayor presencia en la muestra? 
R: Europa es el continente con mayor presencia en la muestra

In [308]:
df['continent'].value_counts()

europe          13
southamerica     6
africa           5
asia             4
northamerica     4
Name: continent, dtype: int64

* ¿Cuál es la probabilidad de elegir un equipo asiático al azar?

#### R: La probabilidad es de un 12,5%

In [310]:
df['continent'].value_counts('%')

europe          0.40625
southamerica    0.18750
africa          0.15625
asia            0.12500
northamerica    0.12500
Name: continent, dtype: float64

* ¿Cuál es la probabilidad de elegir un equipo africano al azar?

#### R: La probabilidad es de un 15,625%

## Desafío 3: Probabilidades por continente 
Por cada continente, genere un nuevo objeto que almacene sólo las observaciones del continente.

| tip: Para ello puede utilizar la siguiente sintáxis: df[df['variable'] == condicion] .

In [311]:
europe = df[df['continent'] == 'europe']
southamerica = df[df['continent'] == 'southamerica']
africa = df[df['continent'] == 'africa']
asia = df[df['continent'] == 'asia']
northamerica = df[df['continent'] == 'northamerica']
#se puede usar group by

## Desafío 4: Calcule la frecuencia/probabilidad de clasificación a la siguiente ronda por continente
Pase todos los objetos creados en el desafío anterior en un loop que imprima la frecuencia con la que pasaron a la siguiente ronda.
tip: Genere un array que contenga los objetos a pasar en el loop.
* ¿Cuál fue la frecuencia del continente asiático en pasar a la siguiente ronda?

In [282]:
asia_clasificados=asia['clasificado'].value_counts().get(1)
total_equipos_asiaticos=len(asia)
print(asia_clasificados)

None

#### R: La frecuencia/probabilidad fue 0%, ya que no hubo pais asiático que haya clasificado

* ¿Cuáles fueron los dos continentes que tuvieron la mayor frecuencia de clasificación?

In [283]:
continente_df=df.groupby('continent')

grupo_continente=df[df['clasificado'] == 1].groupby('continent').sum().sort_values('clasificado')

for continente, index in grupo_continente.iterrows():
    probabilidad=round(index['clasificado']/len(df[df['continent'] == continente]),2)
    print("La frecuencia de pasar a la siguiente ronda de {} fue de: {} ".format(continente, index['clasificado']))
    print("La probabilidad de pasar a la siguiente ronda de {} es de: {} \n ".format(continente, probabilidad))

La frecuencia de pasar a la siguiente ronda de africa fue de: 2
La probabilidad de pasar a la siguiente ronda de africa es de: 0.4

La frecuencia de pasar a la siguiente ronda de northamerica fue de: 3
La probabilidad de pasar a la siguiente ronda de northamerica es de: 0.75

La frecuencia de pasar a la siguiente ronda de southamerica fue de: 5
La probabilidad de pasar a la siguiente ronda de southamerica es de: 0.83

La frecuencia de pasar a la siguiente ronda de europe fue de: 6
La probabilidad de pasar a la siguiente ronda de europe es de: 0.46

Los continentes que tuvieron mayor frecuencia de clasificación son Europa y Sudamérica.

* ¿Cuál fue la probabilidad de no clasificar para el continente europeo?

In [284]:
grupo_europa = df[(df['continent'] == 'europe') & (df['clasificado'] == 0 )]
frec_no_clas_europa = len(grupo_europa)
print("La frecuencia de paises que no clasificaron fue de {} de un total de {} ".format(frec_no_clas_europa, len(europa)))
prob_no_clas_europa = len(grupo_europa)/len(europa)
print("La probabilidad de no clasificar de europa es de: {} ".format(prob_no_clas_europa))

La frecuencia de paises que no clasificaron fue de 7 de un total de 13
La probabilidad de no clasificar de europa es de: 0.5384615384615384

## Desafío 5: Refactorización 
A continuación se presenta un loop que cuenta las probabilidades de juegos ganados. Se pide que value_counts cuente los juegos no ganados y ganados, ignorando de la cantidad de juegos.

In [285]:
    for d in [africa, europa, asia, norteamerica, sudamerica]:
        print(d['juegos_ganados'].value_counts('%'))

1    0.6
0    0.4
Name: juegos_ganados, dtype: float64
1    0.461538
2    0.230769
3    0.153846
0    0.153846
Name: juegos_ganados, dtype: float64
0    1.0
Name: juegos_ganados, dtype: float64
2    0.50
1    0.25
0    0.25
Name: juegos_ganados, dtype: float64
2    0.500000
3    0.333333
1    0.166667
Name: juegos_ganados, dtype: float64

En base a la refactorización del código, responda lo siguiente:
   * ¿Qué continente tuvo mayor frecuencia de juegos ganados?

#### R: Europa tuvo mayor cantidad de juegos ganados

In [293]:
grupo=df.groupby(['continent']).sum().sort_values('juegos_ganados')
grupo

,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,puntos,clasificado
continent,,,,,,,,,
asia,16,12,0,3,9,9,25,3,0
africa,15,15,3,3,9,18,28,12,2
northamerica,9,12,5,3,4,13,14,18,3
southamerica,10,18,13,2,3,34,17,41,5
europe,30,39,18,7,14,62,52,61,6

* ¿Qué continente presentó un nivel similar entre juegos ganados y perdidos?

#### R: Norteamerica presentó un nivel similar entre juegos ganados y perdidos

In [298]:
grupo['delta_ganados_perdidos'] = abs(grupo['juegos_ganados'] - grupo['juegos_perdidos'])
grupo

,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,puntos,clasificado,delta_ganados_perdidos
continent,,,,,,,,,,
asia,16,12,0,3,9,9,25,3,0,9
africa,15,15,3,3,9,18,28,12,2,6
northamerica,9,12,5,3,4,13,14,18,3,1
southamerica,10,18,13,2,3,34,17,41,5,10
europe,30,39,18,7,14,62,52,61,6,4

In [305]:
for continente, index in grupo.iterrows():
    probabilidad=round(index['clasificado']/len(df[df['continent'] == continente]),2)
    print("{}: ganados: {} | perdidos {} | diferencia {} ".format(continente.upper(), 
                                                  index['juegos_ganados'],
                                                  index['juegos_perdidos'],
                                                  index['delta_ganados_perdidos']))

ASIA: ganados: 0 | perdidos 9 | diferencia 9
AFRICA: ganados: 3 | perdidos 9 | diferencia 6
NORTHAMERICA: ganados: 5 | perdidos 4 | diferencia 1
SOUTHAMERICA: ganados: 13 | perdidos 3 | diferencia 10
EUROPE: ganados: 18 | perdidos 14 | diferencia 4