In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('alumnos.csv')

In [15]:
df.head()
type(df)
df.columns
df['altura']
type(df['altura'])
df.iloc[1,:]

nombre    Paco
altura    1.73
peso        83
edad        25
sexo         h
Name: 1, dtype: object

In [18]:
df['sexo'].index
df['sexo'].values

array(['h', 'h', 'h', 'm', 'h', 'h', 'm', 'h', 'm', 'h', 'm', 'm', 'm',
       'h', 'h', 'm', 'h', 'm', 'h', 'h', 'm'], dtype=object)

In [24]:
media_nativo= sum(df['altura'])/len(df['altura'])
media_panda = df['altura'].mean()
import numpy as np 
media_numpy = np.mean(df['altura'])
print(media_nativo)
print(media_panda)
print(media_numpy)

1.7109523809523806
1.7109523809523806
1.7109523809523806

In [27]:
import scipy.stats as stats
altura = df['altura']
stats.mode(altura)

ModeResult(mode=array([1.58]), count=array([3]))

In [29]:
df['altura'].median()

1.69

In [31]:
np.median(df['altura'])

1.69

In [33]:
np.var(df['altura'])

0.015056235827664391

In [36]:
np.std(df['altura'])

0.12270385416792902

In [43]:
df

       nombre  altura  peso  edad sexo
0        Hugo    1.67    60    23    h
1        Paco    1.73    83    25    h
2        Luis    1.62    70    28    h
3       Diana    1.58    58    21    m
4   Francisco    1.86    98    28    h
5      Felipe    1.79   100    26    h
6     Jacinta    1.69    62    20    m
7    Bernardo    1.60    83    31    h
8     Marisol    1.60    56    30    m
9     Facundo    1.98   112    36    h
10   Trinidad    1.72    72    21    m
11     Camila    1.63    57    26    m
12   Macarena    1.73    68    27    m
13      Diego    1.62    78    23    h
14    Gonzalo    1.58    67    22    h
15  Alejandra    1.86    74    21    m
16   Fernando    1.79    93    27    h
17   Carolina    1.60    63    28    m
18    Vicente    1.98   102    31    h
19   Benjam√≠n    1.72    78    36    h
20     Gloria    1.58    65    23    m

In [54]:
sexo = df[df['sexo'] == 'm']
sexo

df[df.index:3]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.range.RangeIndex'> with these indexers [RangeIndex(start=0, stop=21, step=1)] of <class 'pandas.core.indexes.range.RangeIndex'>